body {
  background-image: url(arxpattern.png);
  background-repeat: repeat;
}

body,
h1,
h3,
p {
  font-family: 'Lucida Sans', Helvetica,  'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
  text-align: center;
  padding-top: 50px;
}

.row {
  text-align: center;
  padding-top: 50px;
}

hr {
  border-bottom: 3px solid black;
}

.quote-box {
border: 1px dashed black;
border-radius: 15px;
padding: 10px;
margin-bottom: 15px;


}